{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":5,"column":12},"end":{"row":5,"column":13},"action":"insert","lines":["."],"id":2},{"start":{"row":5,"column":13},"end":{"row":5,"column":14},"action":"insert","lines":["2"]},{"start":{"row":5,"column":14},"end":{"row":5,"column":15},"action":"insert","lines":["3"]}]]},"ace":{"folds":[],"scrolltop":120,"scrollleft":0,"selection":{"start":{"row":14,"column":12},"end":{"row":14,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":7,"state":"start","mode":"ace/mode/text"}},"timestamp":1569243967762,"hash":"4ac4061def775e1afc877fc7e8fe7e8568f8a6cf"}