{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":6,"column":12},"end":{"row":6,"column":13},"action":"insert","lines":["."],"id":2},{"start":{"row":6,"column":13},"end":{"row":6,"column":14},"action":"insert","lines":["2"]},{"start":{"row":6,"column":14},"end":{"row":6,"column":15},"action":"insert","lines":["3"]}]]},"ace":{"folds":[],"scrolltop":29,"scrollleft":0,"selection":{"start":{"row":6,"column":15},"end":{"row":6,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":24,"state":"start","mode":"ace/mode/text"}},"timestamp":1569249520604,"hash":"04c49a9d7c3aa5f17854d951413a760dfa28cd3b"}